.upload-content__container {
  align-self: center;
}

.upload-content-main__container {
  min-height: 100vh;
  margin: 0;
  background: #048ccc;
  background: linear-gradient(to bottom, #048ccc 0%, #04528d 100%);
  display: flex;
  flex-direction: column;
}

.content-padding {
  margin-bottom: 1vh;
}
