.login__wrap {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.text__theme {
  color: #5f6a7d !important;
  text-align: center;
}

.title__theme {
  font-weight: 300;
  color: #2e3b4e;
}

.subcard__heading {
  padding-top: 0.5em;
  color: #2e3b4e !important;
  font-weight: 600 !important;
  text-align: center;
}

.sub-description__wrap {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  max-width: 200px;
}

.icon-description__container {
  background-color: #04528d;
  padding: 0.9em;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description__wrap {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
